{% extends 'base.html.twig' %}

{% block body %}

<h1> liste des livres </h1>

<div class="cart-table clearfix">
            
<div class="cart-table clearfix">
<table class="table table-responsive">
<thead>
<tr>
<th></th>
<th>Name</th>
<th>Price</th>
<th>Quantity</th>
</tr>
</thead>
<tbody>
<tr>
<img src="/images/secu.jpg" alt="/im<td class="cart_product_img">
ages/secu.jpg"></a>
</td>
<td class="cart_product_desc">
<h5>Apprendre Symfony</h5>
<p>livre pour les débutants qui leur apprend les abc du réseau</p>
</td>
<td class="price">
<span>25 DT</span>
</td>
<td class="qty">
<div class="qty-btn d-flex">
<div class="quantity">
<span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
<input type="number" class="qty-text" id="qty" step="1" min="1" max="300" name="quantity" value="1">
<span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
</div>
</div>
</td>
</tr>
<tr>
    <td class="cart_product_img">
       <img src="/images/secu.jpg" alt="/images/secu.jpg"></a>
    </td>
    <td class="cart_product_desc">
        <h5>Minimal Plant Pot</h5>
    </td>
    <td class="price">
        <span>35 DT</span>
    </td>
    <td class="qty">
        <div class="qty-btn d-flex">
            <p>Qty</p>
            <div class="quantity">
                <span class="qty-minus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                <input type="number" class="qty-text" id="qty2" step="1" min="1" max="300" name="quantity" value="1">
                <span class="qty-plus" onclick="var effect = document.getElementById('qty2'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
            </div>
        </div>
    </td>
</tr>
            <tr>
                <td class="cart_product_img">
                    <img src="/images/secu.jpg" alt="/images/secu.jpg"></a>
                </td>
                <td class="cart_product_desc">
                    <h5>Minimal Plant Pot</h5>
                </td>
                <td class="price">
                    <span>10 DT</span>
                </td>
                <td class="qty">
                    <div class="qty-btn d-flex">
                        <p>Qty</p>
                        <div class="quantity">
                            <span class="qty-minus" onclick="var effect = document.getElementById('qty3'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <input type="number" class="qty-text" id="qty3" step="1" min="1" max="300" name="quantity" value="1">
                            <span class="qty-plus" onclick="var effect = document.getElementById('qty3'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                <td class="">        
                    <div class="cart-summary btn btn-primary">
                      <a  class="btn table-info" type"button">ajouter </a>
                   </div>
                </td>   
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
   
</div>
</div>
</div>
</div>          

{% endblock %}