{% extends 'base1.html.twig' %}

{% block title %}Livre{% endblock %}

{% block body %}
  
      
          <h1>{{ livre.Titre }}</h1>

          <div><img src="{{ asset('images/' ~ livre.image)}}" alt="image"
                       style="width:100 px; height:125px;"/></div>
          <div> {{ livre.Description }} </div>
   


    <div class="buy_now_button"><a href="#">Buy Now</a></div>

    
{% endblock %}
