
{% extends 'base.html.twig' %}
{% block title %}New Livre{% endblock %}

{% block body %}

<h1 class="text-ligt "> Ajouter un nouveau Livre </h1>

{{include ('livre/_form.html.twig')}}

{{ form_start (form)}}
<div class="bg-light">
 <table class="table table-dark">
 
 
 </table>
  <a href="{{ path('livre_index') }}">back to list</a>
</div>

{{ form_end(form) }}  

{% endblock %}
